
*.pyc
.idea/ESnews.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ESClass/__pycache__/ReadFile.cpython-36.pyc
ESClass/__pycache__/ReadFile.cpython-36.pyc
ESClass/__pycache__/ReadFile.cpython-36.pyc
